:root {
  --primary: #d81e5b;
  --secondary: #8c38ff;
  --dark: #131a26;
  --light: #eee;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15%;
}
.calculator {
  width: 100%;
  max-width: 400px;
  background-color: #fff;
  border-radius: 1em;
  overflow: hidden;
  box-shadow: 0 2px 64px rgba(0, 0, 0, 0.2);
}
.display {
  padding: 1em;
  text-align: right;
  background-color: var(--dark);
  color: var(--light);
  font-size: 1.5em;
  font-weight: 300;
}

.display span {
  font-size: 14px;
  color: #888;
}
button {
  appearance: none;
  border: none;
  outline: none;
  font-size: 20px;
  padding: 1em;
  color: #fff;
  cursor: pointer;
  transition: 0.4s;
}
button:hover {
  opacity: 0.9;
}
.operators {
  display: flex;
}
.operators button {
  flex: 1 1 0%;
  background-color: var(--primary);
  font-weight: 700;
}
.digits {
  display: flex;
  flex-wrap: wrap;
}

.digits button {
  flex: 1 1 33.333%;
  max-width: 33.333%;
  background-color: var(--dark);
}
